.cover {
    background: #202020;
    color: white;
}

.social-list .list-inline-item:not(:last-child) {
    margin-right: 2rem;
}

.social-list a {
    font-size: 30px;
    color: #202020;
}

.social-list-sm .list-inline-item:not(:last-child) {
    margin-right: 1rem;
}

.social-list-sm a {
    font-size: 20px;
    color: #202020;
}

.footer {
    background: #202020;
    color: white;
}

.hero-image {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

.baguetteBox-button {
    background-color: transparent !important;
}