<div class="container text-center">
    <div class=" my-4">
        <h2 class="display-7 font-weight-normal text-center">Our clients</h2>
    </div>
    <div>
        <img src='{{ "img/clients.png" | absURL }}' style="width: 100%; max-width: 800px; opacity: 0.7;">
    </div>
    <p>Allow us to help you champion VRcollab to your company</p>
    <button type="button" class="btn btn-primary" style="margin-bottom: 20px;">Checkout More Details</button>
    <button type="button" class="btn btn-primary" style="margin-bottom: 20px;">Checkout More Details</button>
</div>