<div class="text-center">
    <div class="row">
        <div class="col-md-6">
                Client Testimonial and LOGO (I have about 3 testimonials)
        </div>
        <div class="col-md-6">
                <p>Allow us to help you champion VRcollab to your company</p>
                <button type="button" class="btn btn-primary" style="margin-bottom: 20px;">Checkout More Details</button>
                <button type="button" class="btn btn-primary" style="margin-bottom: 20px;">Checkout More Details</button>
        </div>
    </div>
</div>