<div class="container">
    <div class="text-center my-4">
        <h2 class="display-7 font-weight-normal text-center">Step 3: Coordinate over the Internet</h2>
        <div class="row text-center">
            <div class="col-md-8 mx-auto">
                <ul class="list-inline social-list">
                    <li class="list-inline-item">
                        <p>Measure</p>
                        <i class="fas fa-ruler" style="font-size: 2rem;"></i>
                    </li>
                    <li class="list-inline-item">
                        <p>Inspect Object Data</p>
                        <i class="fas fa-mouse-pointer" style="font-size: 2rem;"></i>
                    </li>
                    <li class="list-inline-item">
                        <p>Annotate</p>
                        <i class="fas fa-pen" style="font-size: 2rem;"></i>
                    </li>
                </ul>
                <p>Instantly convert BIM models from Autodesk Revit or Sketchup for use in Virtual Reality. Attendees of the
                    coordination meeting can either be in VR, Desktop or viewing from a projector screen.</p>
                <p>Facilitating BIM models for use in design reviews, building requirement approval and construction coordination.</p>
            </div>
        </div>
    </div>
</div>