<div class="hero-image py-4" style="background-position: top; background-image: url('{{ .Site.BaseURL }}img/Coordination background.png'); height: 100%;">
    <div class="container">
        <div class="text-center">
            <h2 class="display-7 font-weight-normal text-center">Step 3: Coordinate with VDC Centric Features</h2>
            <div class="row text-center">
                <div class="col-md-8 mx-auto">
                    <ul class="list-inline">
                        <li class="list-inline-item">
                            <p>Measurement</p>
                            <i class="fas fa-ruler" style="font-size: 2rem;"></i>
                        </li>

                        <li class="list-inline-item">
                            <p>Annotations</p>
                            <i class="fas fa-pen" style="font-size: 2rem;"></i>
                        </li>
                    </ul>
                    <ul class="list-inline">
                        <li class="list-inline-item pb-3">
                            <p>BIM Object Data</p>
                            <i class="fas fa-search" style="font-size: 2rem;"></i>
                        </li>
                        <li class="list-inline-item pb-3">
                            <p>Daylight Analysis</p>
                            <i class="fas fa-sun" style="font-size: 2rem;"></i>
                        </li>
                        <li class="list-inline-item pb-3">
                            <p>Merge BIM Models</p>
                            <i class="fas fa-cubes" style="font-size: 2rem;"></i>
                        </li>
                    </ul>
                    <p>Facilitating design coordination with VDC centric features such as annotation, measurements, object
                        information retrieval all available in both the intuitive Virtual Reality medium and Desktop use.</p>
                    <a class="btn btn-primary" href='{{ .Site.BaseURL }}lite/#features' target="_blank">Coordination Features</a>
                </div>
            </div>
        </div>
    </div>
</div>