<div class="container">
    <div class="text-center my-4">
        <h2 class="display-7 font-weight-normal text-center">Step 3: Coordinate over the Internet</h2>
        <div class="row py-3">
            <div class="col-md-4">
                <p>Measure</p>
                <img src="{{ .Site.BaseURL }}img/vr-measurement.png" style="width: 30%;">
            </div>
            <div class="col-md-4">
                <p>Annotation</p>
                <img src="{{ .Site.BaseURL }}img/vr-annotation.png" style="width: 30%;">
            </div>
            <div class="col-md-4">
                <p>Inspect Object Data</p>
                <img src="{{ .Site.BaseURL }}img/vr-object-data.png" style="width: 30%;">
            </div>
        </div>
        <p>Instantly convert BIM models from Autodesk Revit or Sketchup for use in Virtual Reality. Attendees of the coordination
            meeting can either be in VR, Desktop or viewing from a projector screen.</p>
        <p>Facilitating BIM models for use in design reviews, building requirement approval and construction coordination.</p>
        <button type="button" class="btn btn-primary">Checkout More Details</button>
    </div>
</div>