<div class="text-center" style="background-color: #202020;color: white;">
    <div class="container pt-4" style="background-color: #202020; color: white;">
        <div class="pb-4">
            <h2 class="display-7 font-weight-normal">Step 2: Choose your VRcollab product</h2>
        </div>
        <div class="row">
            <div class="col-md-6 pb-4">
                <img class="rounded" src='{{ "img/vrcollab-lite.png" | absURL }}' style="width: 100%; padding-bottom: 20px; max-width: 450px;">
                <h3>VRcollab Lite</h3>
                <p>Meeting Room / Desktop Setup
                    <br/> Cross Office Design Coordination</p>
                <button type="button" class="btn btn-primary">Checkout More Details</button>
            </div>
            <div class="col-md-6 pb-4">
                <img class="rounded" src='{{ "img/vrcollab-studio.png" | absURL }}' style="width: 100%; padding-bottom: 20px; max-width: 450px;">
                <h3>VRcollab Studio</h3>
                <p>Virtual Reality CAVE System
                    <br/> Presentation to large groups of stake holders</p>
                <button type="button" class="btn btn-primary">Checkout More Details</button>
            </div>
        </div>
    </div>
</div>