<div class="container">
    <div class="text-center my-4">
        <h2 class="display-7 font-weight-normal text-center">Stay updated</h2>
        <ul class="list-inline social-list">
            <li class="list-inline-item">
                <a href="{{ .Site.Params.SocialNetwork.Facebook | absURL }}" target="_blank">
                    <i class="fab fa-facebook"></i>
                </a>
            </li>
            <li class="list-inline-item">
                <a href="{{ .Site.Params.SocialNetwork.Twitter | absURL }}" target="_blank">
                    <i class="fab fa-twitter-square"></i>
                </a>
            </li>
            <li class="list-inline-item">
                <a href="{{ .Site.Params.SocialNetwork.YouTube | absURL }}" target="_blank">
                    <i class="fab fa-youtube-square"></i>
                </a>
            </li>
            <li class="list-inline-item">
                <a href="{{ .Site.Params.SocialNetwork.LinkedIn | absURL }}" target="_blank">
                    <i class="fab fa-linkedin"></i>
                </a>
            </li>
        </ul>
        <button type="button" class="btn btn-primary">Checkout More Details</button>
    </div>
</div>