<div class="text-center">
    <p>Design Building in BIM software and convert to VR instantly.</p>
    <div class="row" style="padding-top: 40px;">
        <div class="col-md-2">
            <img src="{{ .Site.BaseURL }}img/revit-logo.png" style="width: 60px;">
            <p>Revit (2014-2018)</p>
        </div>
        <div class="col-md-2">
            <img src="{{ .Site.BaseURL }}img/sketchup-logo.png" style="width: 60px;">
            <p>Revit (2014-2018)</p>
        </div>
        <div class="col-md-2">
            <img src="{{ .Site.BaseURL }}img/archicad-logo.png" style="width: 60px;">
            <p>Revit (2014-2018)</p>
        </div>
        <div class="col-md-2">
            <img src="{{ .Site.BaseURL }}img/sketchup-logo.png" style="width: 60px;">
            <p>Revit (2014-2018)</p>
        </div>
        <div class="col-md-2">
            <img src="{{ .Site.BaseURL }}img/sketchup-logo.png" style="width: 60px;">
            <p>Revit (2014-2018)</p>
        </div>
        <div class="col-md-2">
            <img src="{{ .Site.BaseURL }}img/sketchup-logo.png" style="width: 60px;">
            <p>Revit (2014-2018)</p>
        </div>
    </div>
    <p>Convert up to 7GB BIM models automatically for use in Virtual Reality in less than 10 minutes.</p>
    <button type="button" class="btn btn-primary">Checkout More Details</button>
</div>