html, body {
  height: 100%;
}
.cover {
    background: #202020;
    color: white;
}

.social-list .list-inline-item:not(:last-child) {
    margin-right: 2rem;
}

.social-list a {
    font-size: 1.5rem;
    color: #202020;
}

.social-list-sm .list-inline-item:not(:last-child) {
    margin-right: 1rem;
}

.social-list-sm a {
    font-size: 20px;
    color: #202020;
}

.footer {
    background: #202020;
    color: white;
}

.hero-image {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    /* position: relative; */
}

.baguetteBox-button {
    background-color: transparent !important;
}
#vr-bep-guide {
  background-image: url('/post-data/why-vr-in-BEP-post/LANDING PAGE Copy.png');
}

.offers-hero .offer-img{
  height: 274px;
}

.offers-hero .container{
  padding-top: 40px;
  padding-bottom: 40px;
  color: white;
  min-height: 100%;
}


.offer-preview img {
  width: 100%;
}

.offer-preview-row img {
  border: solid;
  border-width: 1px;
  box-shadow: 0 3px 3px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
}

.offer-preview-col{
  padding-left: 2px;
  padding-right: 2px;
}

#vr-bep-guide-cal{
  background-image: url('/post-data/why-vr-in-BEP-post/LANDING PAGE Copy 2.png');
}
