<div class="container mt-4">
    <div class="row">
        <div class="col-md-8 mx-auto">
            <p>VRcollab is a Singaporean software start-up that is invested by SGinnovate, Entrepreneur First and HTC VIVE.
                First incorporated in December 2016, VRcollab’s mission is to redefine collaboration and design coordination
                in the Architecture, Engineering and Construction (AEC) Industry.</p>
            <p>This is possible because of VRcollab’s Core Technology that automatically converts BIM (Building Information
                Models) for use in Virtual Reality. The conversion is done with accuracy and speed ( approx. 4GB BIM converted
                in 7 Minutes ). VRcollab’s Team expertise in software development and computer graphics also enhances the
                usability for multiple use-cases.
            </p>
            <p>Redefining collaboration in construction, VRcollab takes BIM to the next level, enabling architects, engineers,
                planners and consultants to communicate seamlessly.</p>
        </div>
    </div>
</div>