<div class="container">
    <div class="row mt-4" style="margin-bottom: 40px;">
        <div class="col-md-8 mx-auto">
            <h2 class="display-7 font-weight-normal">Contact Us</h2>
            <ul class="list-inline social-list-sm">
                <li class="list-inline-item">
                    <a href="{{ .Site.Params.SocialNetwork.Facebook | absURL }}" target="_blank">
                        <i class="fab fa-facebook"></i>
                    </a>
                </li>
                <li class="list-inline-item">
                    <a href="{{ .Site.Params.SocialNetwork.Twitter | absURL }}" target="_blank">
                        <i class="fab fa-twitter-square"></i>
                    </a>
                </li>
                <li class="list-inline-item">
                    <a href="{{ .Site.Params.SocialNetwork.YouTube | absURL }}" target="_blank">
                        <i class="fab fa-youtube-square"></i>
                    </a>
                </li>
                <li class="list-inline-item">
                    <a href="{{ .Site.Params.SocialNetwork.LinkedIn | absURL }}" target="_blank">
                        <i class="fab fa-linkedin"></i>
                    </a>
                </li>
            </ul>
            <form>
                <div class="form-group">
                    <label for="exampleFormControlInput1">Email address</label>
                    <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="name@example.com">
                </div>
                <div class="form-group">
                    <label for="exampleFormControlInput2">Name</label>
                    <input type="text" class="form-control" id="exampleFormControlInput2" placeholder="name">
                </div>
                <div class="form-group">
                    <label for="exampleFormControlTextarea1">Message</label>
                    <textarea class="form-control" id="exampleFormControlTextarea1" rows="3" style="min-height: 100px;"></textarea>
                </div>
                <button type="submit" class="btn btn-primary">Submit</button>
            </form>
        </div>
    </div>
</div>