<div style="padding-left: 40px; padding-right: 40px;">
    <div class="row" style="padding-top: 40px;">
        <div class="col-md-3">
            <img src="img/occulus-rift-male-engineer-user.png" style="width: 100%; position: absolute; bottom: 0px;">
        </div>
        <div class="col-md-6 text-center">
            <h3>Coordinate your design meetings over the Internet width decent tools</h3>
            <div class="row">
                <div class="col-md-4">
                    <p>Measure</p>
                    <img src="img/vr-measurement.png" style="width: 30%;">
                </div>
                <div class="col-md-4">
                    <p>Annotation</p>
                    <img src="img/vr-annotation.png" style="width: 30%;">
                </div>
                <div class="col-md-4">
                    <p>Inspect Object Data</p>
                    <img src="img/vr-object-data.png" style="width: 30%;">
                </div>
            </div>
            <p>Instantly convert BIM models from Autodesk Revit or Sketchup for use in Virtual Reality. Attendees of the coordination
                meeting can either be in VR, Desktop or viewing from a projector screen.</p>
            <p>Facilitating BIM models for use in design reviews, building requirement approval and construction coordination.</p>
        </div>
        <div class="col-md-3">
            <img src="img/htc-vive-male-architect-user.png" style="width: 100%; position: absolute; bottom: 0px;">
        </div>
    </div>
</div>