<div class="row" style="margin: auto; padding: 40px;">
    <div class="col-md-1"></div>
    <div class="col-md-5">
        <div style="padding-bottom: 30px; padding-top: 40px;">
            <h2 class="display-7 font-weight-normal">Step 3: </h2>
        </div>
        <p>Coordinate meeting with stakeholders with VDC centric coordination features</p>
    </div>
    <div class="col-md-5 text-center">
        <div class="row" style="padding-bottom: 60px;">
            <div class="col-md-4">
                <p>Measure</p>
                <img src="img/vr-measurement.png" style="width: 60%;">
            </div>
            <div class="col-md-4">
                <p>Measure</p>
                <img src="img/vr-annotation.png" style="width: 60%;">
            </div>
            <div class="col-md-4">
                <p>Measure</p>
                <img src="img/vr-object-data.png" style="width: 60%;">
            </div>
        </div>
        <button type="button" class="btn btn-primary">Checkout More Details</button>
    </div>
    <div class="col-md-1"></div>
</div>