<!doctype html>
<html>

<meta name="description" content="{{ .Page.Description }}">
<title>VRcollab - {{ .Title }}</title>
{{ partial "head.html" . }}
<link rel="stylesheet" href='{{ "css/single.css" | absURL }}'>

<body>
    {{ partial "header.html" . }}

    <div class="hero-image text-center" style="background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url('{{ .Site.BaseURL }}img/VRcollab About Us Image.jpg'); height: 250px;">
        <div class="container" style="color: white; padding-top: 40px;">
            <img src="{{ .Site.BaseURL }}img/vrcollab-logo-single.png" style="width: 80px;">
            <h1>VRcollab</h1>
            <p>We make BIM accessible</p>
        </div>
    </div>

    <article>
        <div class="container" style="margin-top: 40px;">
            <div class="row">
                <div class="col-md-8 mx-auto">
                    <h2 class="display-7 font-weight-normal">{{ .Title }}</h2>
                    {{ .Date.Format "Mon Jan 2, 2006" }}
                    <div class="pt-4 post">
                        {{ .Content }}
                    </div>
                </div>
            </div>
        </div>
    </article>

    {{ partial "social.html" . }} {{ partial "footer.html" . }}
</body>

</html>