<div class="text-center" style="background-color: #202020;color: white;">
    <div class="container py-4">
        <div class="pb-4">
            <h2 class="display-7 font-weight-normal">Key Benefits</h2>
        </div>
        <div class="row mx-4">
            <div class="col-md-6 pb-4">
                <h4>1. Depth & Perspective Information</h4>
                <p>Such information is often loss when viewed on a 2D screen</p>

            </div>
            <div class="col-md-6 pb-4">
                <h4>2. Faster Design Approvals</h4>
                <p>Communicate design effectively in both external presentations and internal coordinations</p>
            </div>
        </div>
    </div>
    <div class="container py-4">
        <div class="row mx-4">
            <div class="col-md-6 pb-4">
                <h4>3. Intuitive Manipulation of BIM</h4>
                <p>No time wastage due to BIM software that was not created with efficient coordination in mind</p>

            </div>
            <div class="col-md-6 pb-4">
                <h4>4. Minimise Design Errors</h4>
                <p>Design errors flare up in VR allowing for quicker and more pinpoint mitigation</p>
            </div>
        </div>
    </div>
</div>