<div class="container">
    <div class="text-center my-4">
        <h2 class="display-7 font-weight-normal text-center">VDC Oriented Features</h2>
        <ul class="list-inline social-list">
            <li class="list-inline-item">
                <a href="{{ .Site.Params.SocialNetwork.Facebook | absURL }}">
                    <i class="fab fa-facebook"></i>
                </a>
            </li>
            <li class="list-inline-item">
                <a href="{{ .Site.Params.SocialNetwork.Twitter | absURL }}">
                    <i class="fab fa-twitter-square"></i>
                </a>
            </li>
            <li class="list-inline-item">
                <a href="{{ .Site.Params.SocialNetwork.YouTube | absURL }}">
                    <i class="fab fa-youtube-square"></i>
                </a>
            </li>
            <li class="list-inline-item">
                <a href="{{ .Site.Params.SocialNetwork.LinkedIn | absURL }}">
                    <i class="fab fa-linkedin"></i>
                </a>
            </li>
        </ul>
        <button type="button" class="btn btn-primary">Checkout More Details</button>
    </div>



    <div class="row text-center text-lg-left">
        {{ range $element := .Site.Params.LiteGallery }}
        <div class="col-lg-4 col-md-6 text-center">
            <div class="d-block mb-4 h-100">
                <img class="img-fluid" src="{{ $element.src | absURL }}" alt="">
                <p class="font-weight-normal text-center mt-2" style="font-size: 1.2rem">{{ $element.text }}</p>
            </div>
        </div>
        {{ end }}
    </div>
</div>