<div class="container text-center" id="features">
    <div class="my-4">
        <h2 class="display-7 font-weight-normal text-center">VDC Oriented Features</h2>

    </div>
    <div class="row text-center text-lg-left tz-gallery">
        {{ range $element := .Site.Params.Features }}
        <div class="col-lg-6 col-md-6 text-center">
            <div class="d-block mb-4 h-100">
                <a class="lightbox" href='{{ $element.src | absURL }}'>
                    <img class="img-fluid" src="{{ $element.src | absURL }}" alt="{{ $element.text }}">
                </a>
                <p class="font-weight-normal text-center mt-2 mb-1" style="font-size: 1.2rem">{{ $element.text }}</p>
                <p class="mx-auto" style="max-width: 400px;">{{ $element.description }}</p>
            </div>
        </div>
        {{ end }}
    </div>
</div>