<div class="container">
    <div class="text-center my-4">
        <h2 class="display-7 font-weight-normal text-center">Step 1: Design in BIM and convert into VR</h2>
        <p>Design Building in BIM software and convert to VR instantly.
            <br>VRcollab supports a wide range of AEC softwares and headsets.</p>
        <ul class="list-inline social-list">
            <li class="list-inline-item">
                <a href="{{ .Site.Params.SocialNetwork.Facebook | absURL }}">
                    <img src="{{ .Site.BaseURL }}img/revit-logo.png" style="width: 60px;">
                </a>
            </li>
            <li class="list-inline-item">
                <a href="{{ .Site.Params.SocialNetwork.Twitter | absURL }}">
                    <img src="{{ .Site.BaseURL }}img/sketchup-logo.png" style="width: 60px;">
                </a>
            </li>
            <li class="list-inline-item">
                <a href="{{ .Site.Params.SocialNetwork.YouTube | absURL }}">
                    <img src="{{ .Site.BaseURL }}img/archicad-logo.png" style="width: 60px;">
                </a>
            </li>
            <li class="list-inline-item">
                <a href="{{ .Site.Params.SocialNetwork.LinkedIn | absURL }}">
                    <img src="{{ .Site.BaseURL }}img/revit-logo.png" style="width: 60px;">
                </a>
            </li>
        </ul>
        <p>Convert up to 7GB BIM models automatically for use in Virtual Reality in less than 10 minutes.</p>
        <button type="button" class="btn btn-primary">Checkout More Details</button>
    </div>
</div>