<div class="text-center" style="background-color: #202020;color: white;">
    <div class="container py-4">
        <div class="pb-4">
            <h2 class="display-7 font-weight-normal">Pricing</h2>
        </div>
        <div class="row mx-4" style="color: black;">
            <div class="col-md-10 col-center m-auto pb-4">
                <div class="card-deck mb-3 text-center">
                    <div class="card mb-4 shadow-sm">
                        <div class="card-header">
                            <h4 class="my-0 font-weight-normal">14-Day Free Trial</h4>
                        </div>
                        <div class="card-body">
                            <h1 class="card-title pricing-card-title">$0</h1>
                            <ul class="list-unstyled mt-3 mb-4">
                                <li>Convert BIM Model</li>
                                <li>All Features Included</li>
                                <li>Email support</li>
                                <li>
                                    <b>No credit card required</b>
                                </li>
                            </ul>
                            <button type="button" class="btn btn-lg btn-block btn-outline-primary">Sign up for free</button>
                        </div>
                    </div>
                    <div class="card mb-4 shadow-sm">
                        <div class="card-header">
                            <h4 class="my-0 font-weight-normal">Lite</h4>
                        </div>
                        <div class="card-body">
                            <h1 class="card-title pricing-card-title">$2200 USD
                                <small class="text-muted">/ year</small>
                            </h1>
                            <ul class="list-unstyled mt-3 mb-4">
                                <li>Convert BIM Model</li>
                                <li>All Features Included</li>
                                <li>Email support</li>
                                <li>
                                    <b>No credit card required</b>
                                </li>
                            </ul>
                            <button type="button" class="btn btn-lg btn-block btn-primary mb-2">Sign up</button>
                            <a href="#">*Contact us for demo and quotation</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>