<div class="container text-center">
    <div class=" my-4">
        <h2 class="display-7 font-weight-normal text-center">Our clients</h2>
    </div>
    <ul class="list-inline">
        <li class="list-inline-item">

        </li>
        <li class="list-inline-item">

        </li>
    </ul>
    <ul class="list-inline">
        <li class="list-inline-item">
            <div class="card text-white bg-success mb-3" style="max-width: 18rem;">
                <div class="card-header">
                    <b>Rexter Retana</b>, BIM Lead at RSP Architects Planners & Engineers</div>
                <div class="card-body">
                    <p class="card-text">"VRCollab truly redefine collaboration in construction. It allows us to collaborate more effectively
                        and efficiently while immersing ourselves into the virtual space; which was unachievable in current
                        conventional practice."</p>
                </div>
            </div>
        </li>
        <li class="list-inline-item">
            <div class="card text-white bg-info mb-3" style="max-width: 18rem;">
                <div class="card-header">
                    <b>Liu Yizhe</b>, BIM Engineer at Sembcorp A&E Pte Ltd</div>
                <div class="card-body">
                    <p class="card-text">"VRcollab bridges communication gaps between owners, end-users and multi-disciplinary industry professionals.
                        It allows us to focus capturing user requirements and resolving coordination issues upfront easily
                        before actual construction."</p>
                </div>
            </div>
        </li>
    </ul>
</div>