<footer class="page-footer font-small blue pt-4 footer">
    <div class="container-fluid text-center text-md-left">
        <div class="row">
            <div class="col-md-3 mb-md-0 mb-3">
                <h5 class="text-uppercase">Product</h5>
                <ul class="list-unstyled">
                    <li>
                        <a href="#!">End User License Agreement</a>
                    </li>
                    <li>
                        <a href="#!">Privacy Policy</a>
                    </li>
                    <li>
                        <a href="#!">Pricing Plan</a>
                    </li>
                    <li>
                        <a href="#!">VRcollab Lite – Virtual Reality BIM Coordination Software</a>
                    </li>
                </ul>
            </div>
            <div class="col-md-3 mb-md-0 mb-3">
                <h5 class="text-uppercase">Learn</h5>
                <ul class="list-unstyled">
                    <li>
                        <a href="#!">About Us</a>
                    </li>
                    <li>
                        <a href="#!">FAQ</a>
                    </li>
                    <li>
                        <a href="#!">VRcollab Lite – Virtual Reality BIM Coordination Software</a>
                    </li>
                </ul>
            </div>

            <div class="col-md-3 mb-md-0 mb-3">
                <h5 class="text-uppercase">Blog</h5>
                <ul class="list-unstyled">
                    <li>
                        <a href="#!">VRcollab STUDIO 2.0 - Are CAVEs replacing coordination rooms in Architecture and Construction?
                        </a>
                    </li>
                </ul>
            </div>

            <div class="col-md-3 mb-md-0 mb-3">
                <h5 class="text-uppercase">Contact Us</h5>
                <p>Address: #01-16, 75 Ayer Rajah Crescent, Singapore 139953</p>
                <p>Email: info@vrcollab.com</p>
            </div>
        </div>
    </div>

    <div class="footer-copyright text-center py-3">© 2018 Copyright:
        <a href="https://vrcollab.com">VRcollab Pet. Ltd.</a>
    </div>
</footer>