<footer class="page-footer font-small blue pt-4 footer">
    <div class="container-fluid text-center text-md-left">
        <div class="row">
            <div class="col-md-3 mb-md-0 mb-3">
                <h5 class="text-uppercase">Product</h5>
                <ul class="list-unstyled">
                    {{range $element := .Site.Params.footer.product}}
                    <li>
                        <a href="{{ $element.url }}">{{ $element.text }}</a>
                    </li>
                    {{ end }}
                </ul>
            </div>
            <div class="col-md-3 mb-md-0 mb-3">
                <h5 class="text-uppercase">Learn</h5>
                <ul class="list-unstyled">
                        {{range $element := .Site.Params.footer.learn}}
                        <li>
                            <a href="{{ $element.url }}">{{ $element.text }}</a>
                        </li>
                        {{ end }}
                    </ul>
            </div>

            <div class="col-md-3 mb-md-0 mb-3">
                <h5 class="text-uppercase">Contact Us</h5>
                <p>Address: #01-16, 75 Ayer Rajah Crescent, Singapore 139953</p>
                <p>Email: info@vrcollab.com</p>
            </div>
        </div>
    </div>

    <div class="footer-copyright text-center py-3">© 2018 Copyright:
        <a href="https://vrcollab.com">VRcollab Pet. Ltd.</a>
    </div>
</footer>