<footer class="page-footer font-small blue pt-4 footer">
    <div class="container-fluid text-md-left">
        <div class="row" style="width: 80%; margin-left: auto; margin-right: auto;">
            <div class="col-md-3 mb-md-0 mb-3">
                <a href="{{ .Site.BaseURL }}"><img src='{{ "img/vrcollab-logo-white.png" | absURL }}' style="width: 80%; max-width: 200px; padding-bottom: 15px; padding-top: 5px;"></a>
                <p>BIM and VDC Coordination in Virtual Reality.</p>
            </div>

            <div class="col-md-3 mb-md-0 mb-3">
                <h5 class="text-capitalize" style="color: #0594cb">Product</h5>
                <ul class="list-unstyled">
                    {{range $element := .Site.Params.Footer.Product}}
                    <li>
                        <a href="{{ $element.url | absURL }}" style="color: white">{{ $element.text }}</a>
                    </li>
                    {{ end }}
                </ul>
            </div>

            <div class="col-md-3 mb-md-0 mb-3">
                <h5 class="text-capitalize" style="color: #0594cb">Learn</h5>
                <ul class="list-unstyled">
                    {{range $element := .Site.Params.Footer.Learn}}
                    <li>
                        <a href="{{ $element.url | absURL }}" style="color: white" target="_blank">{{ $element.text }}</a>
                    </li>
                    {{ end }}
                </ul>
            </div>

            <div class="col-md-3 mb-md-0 mb-3">
                <h5 style="color: #0594cb">Contact Us</h5>
                <p>Address: #01-16, 75 Ayer Rajah Crescent, Singapore 139953
                    <br /> Email: info@vrcollab.com
                    <br /> Phone: +65 98144461
                </p>
            </div>
        </div>
    </div>

    <div class="footer-copyright pl-5 py-3" style="font-size: .75rem; color: #777">© 2018 Copyright:
        <a href="{{ .Site.BaseURL }}" style="color: #777">VRcollab Pte. Ltd.</a>
    </div>
</footer>