<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="{{ .Site.BaseURL }}">
        <img src="{{ .Site.BaseURL }}img/vrcollab-logo.png" width="115" height="30" alt="">
    </a>

    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
        aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true"
                    aria-expanded="false">
                    Product
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    {{range $element := .Site.Params.Header.Product }}
                    <a class="dropdown-item" href="{{ $element.url }}">{{ $element.text }}</a>
                    {{ end }}
                </div>
            </li>

            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true"
                    aria-expanded="false">
                    Learn
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    {{range $element := .Site.Params.Header.Learn }}
                    <a class="dropdown-item" href="{{ $element.url }}">{{ $element.text }}</a>
                    {{ end }}
                </div>
            </li>

            <li class="nav-item">
                <a class="nav-link" href="https://account.vrcollab.com">Login</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{{ .Site.BaseURL }}about">Contact Us</a>
            </li>
        </ul>
    </div>
</nav>