<head>
    <!-- Google Tag Manager -->
    <script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
    new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
    j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
    'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
    })(window,document,'script','dataLayer','GTM-WNXZ4JV');</script>
    <!-- End Google Tag Manager -->
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <meta content="text/html; charset=utf-8" http-equiv="content-type">

    <meta name="keywords" content="BIM,VDC,Virtual Reality,VRcollab,BCA,HDB,NUS,NTU,AEC,Construction,Architecture,Rendering,Coordination">

    {{ template "_internal/google_analytics.html" . }}

    <!-- bootstrap & jquery -->
    <script src='{{ "vendor/js/jquery.min.js" | absURL }}'></script>
    <link rel="stylesheet" href='{{ "vendor/css/bootstrap.min.css" | absURL }}'>
    <script src='{{ "vendor/js/bootstrap.min.js" | absURL }}'></script>
    <script src='{{ "vendor/js/fontawesome.min.js" | absURL }}'></script>
    <script src='{{ "js/account.js" | absURL }}'></script>
    <link rel="stylesheet" href='{{ "css/style.css" | absURL }}'>

    <link rel="apple-touch-icon" sizes="57x57" href='{{ "img/favicon/apple-icon-57x57.png" | absURL }}'>
    <link rel="apple-touch-icon" sizes="60x60" href='{{ "img/favicon/apple-icon-60x60.png" | absURL }}'>
    <link rel="apple-touch-icon" sizes="72x72" href='{{ "img/favicon/apple-icon-72x72.png" | absURL }}'>
    <link rel="apple-touch-icon" sizes="76x76" href='{{ "img/favicon/apple-icon-76x76.png" | absURL }}'>
    <link rel="apple-touch-icon" sizes="114x114" href='{{ "img/favicon/apple-icon-114x114.png" | absURL }}'>
    <link rel="apple-touch-icon" sizes="120x120" href='{{ "img/favicon/apple-icon-120x120.png" | absURL }}'>
    <link rel="apple-touch-icon" sizes="144x144" href='{{ "img/favicon/apple-icon-144x144.png" | absURL }}'>
    <link rel="apple-touch-icon" sizes="152x152" href='{{ "img/favicon/apple-icon-152x152.png" | absURL }}'>
    <link rel="apple-touch-icon" sizes="180x180" href='{{ "img/favicon/apple-icon-180x180.png" | absURL }}'>
    <link rel="icon" type="image/png" sizes="192x192" href='{{ "img/favicon/android-icon-192x192.png" | absURL }}'>
    <link rel="icon" type="image/png" sizes="32x32" href='{{ "img/favicon/favicon-32x32.png" | absURL }}'>
    <link rel="icon" type="image/png" sizes="96x96" href='{{ "img/favicon/favicon-96x96.png" | absURL }}'>
    <link rel="icon" type="image/png" sizes="16x16" href='{{ "img/favicon/favicon-16x16.png" | absURL }}'>
    <link rel="manifest" href='{{ "img/favicon/manifest.json" | absURL }}'>
    <meta name="msapplication-TileColor" content="#ffffff">
    <meta name="msapplication-TileImage" content='{{ "img/favicon/ms-icon-144x144.png" | absURL }}'>
    <meta name="theme-color" content="#ffffff">
</head>
