<div class="text-center" style="background-color: #202020;color: white;">
    <div class="container py-4">
        <div class="pb-4">
            <h2 class="display-7 font-weight-normal">Pricing</h2>
        </div>
        <div class="row mx-4" style="color: black;">
            <div class="col-md-12 col-center m-auto pb-4">
                <div class="card-deck mb-3 text-center">
                    <div class="card mb-4 shadow-sm" style="min-width: 250px;">
                        <div class="card-header">
                            <h4 class="my-0 font-weight-normal">14-Day Free Trial</h4>
                        </div>
                        <div class="card-body d-flex flex-column">
                            <h1 class="card-title pricing-card-title" style="font-size: 30px;">$0</h1>
                            <p>Register an account to try out VRcollab today.
                                <br> No Virtual Reality set required for desktop feature use.</p>
                            <a class="btn btn-lg btn-block btn-outline-primary mt-auto" href="{{ .Site.Params.Register | absURL }}">Sign-up for free</a>
                        </div>
                    </div>
                    <div class="card mb-4 shadow-sm" style="min-width: 250px;">
                        <div class="card-header">
                            <h4 class="my-0 font-weight-normal">Lite</h4>
                        </div>
                        <div class="card-body">
                            <h1 class="card-title pricing-card-title" style="font-size: 30px;">$2200 USD
                                <small class="text-muted" style="font-size: 15px;">/ year</small>
                            </h1>
                            <ul class="list-unstyled mt-3 mb-4">
                                <li>1 License per user</li>
                                <li>Full VDC features</li>
                                <li>Beta Releases</li>
                                <li>Continous Update</li>
                                <li>Online dev support</li>
                            </ul>
                            <a href='{{ "about" | absURL }}'>*Contact us for demo and quotation</a>
                            <a class="btn btn-lg btn-block btn-primary mt-auto" href="{{ .Site.Params.Register | absURL }}">Purchase</a>
                            
                        </div>
                    </div>
                    <div class="card mb-4 shadow-sm" style="min-width: 250px;">
                        <div class="card-header">
                            <h4 class="my-0 font-weight-normal">Enterprise / Studio</h4>
                        </div>
                        <div class="card-body d-flex flex-column">
                            <h1 class="card-title pricing-card-title" style="font-size: 30px;">Contact Us
                            </h1>
                            <ul class="list-unstyled mt-3 mb-4">
                                <p>Contact us for a discussion to understand your user requirements.
                                    <br> System Integrators are welcomed.</p>
                            </ul>
                            <a class="btn btn-lg btn-block btn-primary mt-auto" href='{{ "about" | absURL }}'>Contact Us</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>