<!doctype html>
<html>

<meta name="description" content="AEC collaboration in Virtual Reality, VRcollab enables BIM models for use in VDC design reviews, architecture coordination, engineering and construction.">
<title>VRcollab - BIM and VDC Coordination in Virtual Reality</title>
{{ partial "head.html" . }}

<body>
    {{ partial "header.html" . }}
    
    <div class="hero-image text-center" style="background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url('{{ .Site.BaseURL }}img/VRcollab About Us Image.jpg'); height: 300px;">
        <div class="container" style="color: white; padding-top: 40px;">
            <img src="{{ .Site.BaseURL }}img/vrcollab-logo-single.png" style="width: 80px;">
            <h1>404</h1>
            <p>Page Not Found</p>
            <a class="btn btn-primary" href="{{ .Site.BaseURL }}">Back to Home</a>
        </div>
    </div>
    {{ partial "about/company.html" . }}
    {{ partial "about/form.html" . }}

    {{ partial "footer.html" . }}
</body>

</html>