<div class="container">
    <div class="row mt-4">
        <div class="col-md-6 mb-4">
            <h4 class="display-7 font-weight-normal">Supports</h4>
            <p>BIM Software: Revit, Sketchup, Archicad, Navisworks<br> VR Hardware: HTC VIVE, Occulus Rift, Windows MR
            </p>

            <h4 class="display-7 font-weight-normal">Feature and Benefits</h4>
            <p>Benefits: Depth & Perspective Information, Faster Design Approvals, Intutitive Manipulation of BIM, Minimising
                Design Errors
                <br>Features: Measurements, BIM Object Data, Annotations, Daylight Analysis, Render Modes, Merge BIM Models,
                Multiuser Coordination, Desktop User Friendly</p>

            <h4 class="display-7 font-weight-normal">System Requirements (Minimum)</h4>
            <p>OS: Windows 7 SP1 64 bit (*Windows MR requires Windows 10)<br> GPU: Nvidia GTX 1070 equivalent / Quadro P5000<br>                CPU:
                Intel i5 equivalent</p>

            <div>
                <a href='{{ "lite" | absURL }}' target="_blank">Learn about VRcollab Lite</a>
            </div>
            <div>
                <a href="{{ .Site.BaseURL }}lite/#pricing" target="_blank">Learn about pricing</a>
            </div>
        </div>
        <div class="col-md-6 mb-4">
            <h2 class="display-7 font-weight-normal">Register</h2>
            <form id="contactForm" class="needs-validation" novalidate>
                <div class="form-group">
                    <label for="emailInput">Email address</label>
                    <input class="form-control" id="emailInput" placeholder="name@example.com" pattern='\S+@\S+\.\S+' required>
                    <div class="invalid-feedback">
                        Email is invalid or has been used by other user.
                    </div>
                </div>
                <div class="form-group">
                    <label for="nameInput">Name</label>
                    <input type="text" class="form-control" id="nameInput" placeholder="name" required>
                    <div class="invalid-feedback">
                        Please provide us your name.
                    </div>
                </div>
                <div class="form-group">
                    <label for="nameInput">Password</label>
                    <input type="password" class="form-control" id="passwordInput" placeholder="password" pattern=".{10,}" required>
                    <div class="invalid-feedback">
                        Password must be at least 10 chars.
                    </div>
                </div>
                <div class="form-group">
                    <label for="nameInput">Confirm password</label>
                    <input type="password" class="form-control" id="confirmpasswordInput" placeholder="Confirm password" required>
                    <div class="invalid-feedback">
                        Passwords must match.
                    </div>
                </div>
                <div class="form-check">
                    <input type="checkbox" class="form-check-input" id="subscribeCheck">
                    <label class="form-check-label" for="subscribeCheck" style="color: black">Subscribe to our monthly updates which include product
                        updates, the lastest VDC usecases and methodlogy from industry leaders.</label>
                </div>
                <div class="form-check mb-3">
                    <input type="checkbox" class="form-check-input" id="tcCheck" required>
                    <label class="form-check-label" for="tcCheck">I accept the <a href="#">Terms & Conditions and Privacy Policy</a>.</label>
                    <div class="invalid-feedback">
                        You must accept Terms & Conditions and Privacy Policy to continue.
                    </div>
                </div>
                <button type="submit" class="btn btn-primary">Start 14-Day Trial</button>
            </form>
        </div>
    </div>
</div>
<script>
    (() => {
        function ajaxRegister() {
            const email = $("#emailInput").val();
            const name = $("#nameInput").val();
            const password = $("#passwordInput").val();
        }

        var checkPasswordValidity = () => {
            if ($("#passwordInput").val() != $("#confirmpasswordInput").val()) {
                document.getElementById("confirmpasswordInput").setCustomValidity("Passwords must match.");
            }
            else {
                document.getElementById("confirmpasswordInput").setCustomValidity("");
            }
        };

        $("#contactForm").on("submit", ($event) => {
            $form = $("#contactForm");
            $event.preventDefault();
            $event.stopPropagation();
            $form.addClass("was-validated");
            if (checkPasswordValidity() || document.getElementById("contactForm").checkValidity()) {
                ajaxRegister();
            }
        });
    })();
</script>