<div class="tz-gallery px-4">
    <div class="row">
        {{ range $element := .Site.Params.CaveGallery }}
        <div class="col-sm-6 col-md-4">
            <div class="thumbnail">
                <a class="lightbox" href='{{ $element.src | absURL }}'>
                    <img src='{{ $element.src | absURL }}' alt="Park" style="width: 100%; border-radius: 2px;">
                </a>
                <div class="text-center px-5">
                    <p class="pt-2" style="font-size: .8rem; color: #7b7d7d;">{{ $element.text }}</p>
                </div>
            </div>
        </div>
        {{ end }}
    </div>
</div>
</div>